#user-container h1{

    margin-top: 10px;
    color: #da552f;
    display: flex;
    justify-content: center;
    align-items: center;

}

#user-list{

    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    list-style: none;
}

#user-list li{

    background: #ffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}


#user-list li p{

    font-size: 16px;
    color:#999;
    margin-top: 5px;
    line-height: 24px;
}
.button{

    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.button:hover{
    background: #da552f;
    color: #ffffff;
}

.actions{

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;

}